.salon-list-container {
	background-color: #1c1c1c;
	color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	margin: 20px auto;
	max-width: 600px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.salon-list-container h2 {
	color: #4eb0ed;
	text-align: center;
	margin-bottom: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.salon-item {
	background-color: #363e43;
	padding: 10px 15px;
	border-radius: 4px;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
}

.salon-item:hover {
	background-color: #4a5258;
}

.salon-name {
	display: flex; /* Elementy w jednej linii */
	justify-content: space-between; /* Rozdziela nazwę i przycisk X */
	align-items: center; /* Wyrównanie w pionie */
	color: #ffffff;
	cursor: pointer;
	font-size: 16px;
}

.salon-name span {
	flex-grow: 1; /* Wypełnia przestrzeń między nazwą a przyciskiem */
}

.delete-button {
	width: 24px; /* Kwadratowy przycisk */
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e74c3c; /* Czerwony kolor */
	color: #ffffff;
	border: none;
	border-radius: 4px; /* Zaokrąglenie kwadratu */
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
	background-color: #c0392b; /* Ciemniejszy czerwony */
	transform: scale(1.1); /* Powiększenie na hover */
}

.delete-button:active {
	transform: scale(0.95); /* Lekko zmniejszenie na kliknięcie */
	opacity: 0.9; /* Zmniejszona przezroczystość */
}

button {
	background-color: #4eb0ed;
	color: #ffffff;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	width: 100%;
	margin-top: 15px;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #367bb8; /* Ciemniejszy niebieski */
}
