/* src/styles/components/auth/Login.css */

.login-form {
	display: flex;
	flex-direction: column; /* Ustawienie elementów w kolumnie */
}
.login-container {
	background-color: #1c1c1c; /* Ciemne tło */
	color: #ffffff; /* Jasny tekst */
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
	color: #4eb0ed; /* Niebieski */
	margin-bottom: 16px;
}

.login-form input {
	background-color: #363e43; /* Ciemnoszare tło input */
	color: #ffffff; /* Jasny tekst */
	border: 1px solid #658498; /* Ciemny niebieski */
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
}

button {
	background-color: #4eb0ed; /* Niebieski */
	color: #ffffff; /* Jasny tekst */
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #ad8f65; /* Złoty */
}

.validation-errors {
	background-color: #755830; /* Brązowy */
	color: #ffffff; /* Jasny tekst */
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 16px;
}

.error {
	color: #edab4e; /* Pomarańczowy */
	font-size: 14px;
	margin: 4px 0;
}

.forgot-password-button,
.back-to-login-button {
	background-color: #4eb0ed; /* Kolor przycisku */
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
}

.forgot-password-button:hover,
.back-to-login-button:hover {
	background-color: #ad8f65; /* Kolor przycisku po najechaniu */
}
